@charset "UTF-8";

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial;
    font-size: 20px;
}
h1 {
    color: darkblue;
    background-color: skyblue;
    text-decoration: underline;    
}
h2 {
    color: darkcyan;
}
p {
    text-align: justify;
}